doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Security-Policy' content="default-src 'none'; form-action 'self'; frame-ancestors 'none'; style-src 'self' https://fonts.googleapis.com; script-src 'self' http://www.cornify.com/js/cornify.js *.vimeo.com *.mlab.com; font-src 'self' http://fonts.gstatic.com/; img-src 'self' *.cornify.com/js/;")
    meta(name='keywords' content='photographie, sacha lebas, paris, voyage, argentique')
    meta(name='description' content='SACHA LEBAS ABOUT · Portfolio · Instagram · About · Contact © 2019 Sacha Lebas ')
    meta(name='author' content='Sacha Lebas')
    meta(property='og:title' content='Sacha Lebas DIARY')
    meta(property='og:site_name' content='Sacha Lebas')
    meta(property='og:url' content='https://sachalebas.com')
    meta(property='og:description' content='SACHA LEBAS PORTFOLIO · Portfolio · Instagram · About · Contact © 2019 Sacha Lebas ')
    meta(property='og:type' content='website')
    meta(property='og:image' content='https://sachalebas.com/ressources/img/bio.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,400i,700i' rel='stylesheet')
    link(rel='stylesheet' href='/ressources/css/style.css')
    link(rel='stylesheet' href='/ressources/css/queries.css')
    link(rel='stylesheet' href='/ressources/css/stylesheet.css')
    title SACHA LEBAS ABOUT
  body
    div.main
      header
        nav
          ul.banner-container
            li
              a(href='/index')
                h1 Sacha Lebas
                p Photographer
            li.line
              a(href='/new_portfolio')  Photo
            li.line
              a(href='/video')  Video
            li.line
              a(href='https://www.instagram.com/sacha_lebas/' target='_blank')  Instagram
            li.line
              a(href='/about')  About
            li.line
              a(href='/contact')  Contact
      section.about_container
        img(src='ressources/img/PhotoBio.jpg' alt='')
        span.about_text
          blockquote
            | Je pense que le propre d&rsquo;un photographe c&rsquo;est de trahir le re&#x301;el. Il faut simplement
            | mai&#x302;triser cette trahison, et il faut qu&rsquo;elle soit en cohe&#x301;rence avec soi me&#x302;me.      
          br
          blockquote
            | I think that the distinctive feature of a photographer is to betray the reality. He must only master this betrayal, and it must be in coherence with himself.
          span - Raymond Depardon 
          p
            | Plus qu&rsquo;un moyen d&rsquo;expression, la photographie est la conception d&rsquo;une e&#x301;motion a&#x300; travers une
            | vision imaginaire. 
            br
            |                         Ne&#x301; dans les anne&#x301;es 90 a&#x300; Caen, c&rsquo;est avec un kodak jetable ge&#x301;ne&#x301;reusement offert par ses
            |                         ge&#x301;niteurs que Sacha a pu immortaliser ses premie&#x300;res vraies e&#x301;motions visuelles en classe verte.
            |                         Apre&#x300;s trop d&rsquo;heures, trop de jours, et trop de semaines a&#x300; patienter au service photo du
            |                         centre commercial d&rsquo;a&#x300; co&#x302;te&#x301;, tre&#x301;pignant a&#x300; l&rsquo;ide&#x301;e de voir,
            |                         ENFIN, ce que ses transes photographiques avaient bien pu donner, il a de&#x301;cide&#x301; d&rsquo;e&#x301;voluer, et
            |                         de se donner les moyens de conque&#x301;rir le monde qui s&rsquo;offrait a&#x300; lui : c&rsquo;est donc avec un
            |                         Praktica MTL50 qu&apos;il part &agrave; l&apos;aventure. 
            br
            |                         C&rsquo;est la&#x300; qu&apos;il a commence&#x301; a&#x300; prendre des risques, a&#x300; s&rsquo;investir, et surtout, c&rsquo;est
            |                         la&#x300; qu&apos;il a vraiment commence&#x301; a&#x300; prendre du plaisir ! Praktica est d&rsquo;ailleurs toujours a&#x300; ses
            |                         co&#x302;te&#x301;s, inse&#x301;parables et fusionnels. Il est comme greffe&#x301; a&#x300; son bras droit,
            |                         il est la r&eacute;tine dont il avait besoin, toujours la&#x300; pour lui rappeler de beaux moments, toujours la&#x300;
            |                         pour l&rsquo;aider a&#x300; identifier et a&#x300; faire l&rsquo;e&#x301;loge d&rsquo;instants pr&eacute;cis. 
            br
            br
            | More than a mean of expression, photography is the conception of an emotion through an imaginary vision.
            | Sacha was born in Caen in the 90’s, and it is with a disposable Kodak generously offered by his parents that he was able to immortalize his first real visual emotions during a school trip.  After too many hours, too many days, and too many weeks waiting at the photo service of the next door shopping center, thrilled to see after all what his photographic trances had given, he decided to evolve, and to give himself the means to conquer the world that was offered to him: it was with a Praktica MTL50 that he started his adventure.
            | At this very moment, he began to take risks, to invest, and above all, he really started to enjoy what he was doing! Praktica is always by his side, they are inseparable and fusional. Praktica is grafted to Sacha’s right arm, it is the retina he needs, always there to remind him of beautiful moments, always there to help identify and praise precise moments.

    footer ALL CONTENTS &copy; 2019 SACHA LEBAS
      
script(src='/vendors/js/jquery-3.3.1.min.js')
script(src='/ressources/js/script.js')
