doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Security-Policy' content="default-src 'none'; form-action 'self'; frame-ancestors 'none'; style-src 'self' *.fonts.googleapis.com; script-src 'self' *.google-analytics.com *.vimeo.com *.mlab.com; font-src 'self'; img-src data: 'self' *.google-analytics.com *.g.doubleclick.net;")
    meta(name='keywords' content='photographie, sacha lebas, paris, argentique, art')
    meta(name='description' content='SACHA LEBAS PORTFOLIO · Portfolio · Instagram · About · Contact © 2019 Sacha Lebas ')
    meta(name='author' content='Sacha Lebas')
    meta(property='og:title' content='Sacha Lebas PORTFOLIO')
    meta(property='og:site_name' content='Sacha Lebas')
    meta(property='og:url' content='https://sachalebas.com/photo')
    meta(property='og:description' content='SACHA LEBAS PORTFOLIO · Portfolio · Instagram · About · Contact © 2019 Sacha Lebas ')
    meta(property='og:type' content='website')
    meta(property='og:image' content='https://sachalebas.com/ressources/img/bio.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,400i,700i' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/ressources/css/style.css')
    link(rel='stylesheet' type='text/css' href='/ressources/css/queries.css')
    link(rel='stylesheet' type='text/css' href='/ressources/css/stylesheet.css')
    title SACHA LEBAS PORTFOLIO
  body.indexPage
    .main
      header
        nav
          ul.banner-container
            li
                a(href='/index')
                  h1 Sacha Lebas
                  p Photographer
                li.line
                  a(href='/photo')  Photo
                li.line
                  a(href='/video')  Video
                li.line
                  a(href='https://www.instagram.com/sacha_lebas/' target='_blank')  Instagram
                li.line
                  a(href='/about')  About
                li.line
                  a(href='/contact')  Contact
      block content
    footer ALL CONTENTS &copy; 2019 SACHA LEBAS
        

          

  script(src='/vendors/js/jquery-3.3.1.min.js')
  script(src='/ressources/js/script.js')
  script(src="https://ssl.google-analytics.com/analytics.js" async id="ga")
  script(src="/ressources/js/ga.js" async)
  block script
