extends layout

block content
    .album_container
        form(action="/users" method='post').login
            h2 Login
            label(for="username")  Username
            input(type="text" name="username")
            label(for="password") Password
            input(type="password", name="password")
            input(type='submit' value='Log in →').button