doctype html
head
  // Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-132582219-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
    dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-132582219-1');
  meta(charset='UTF-8')
  meta(name='keywords' content='photographie, sacha lebas, paris, argentique, art')
  meta(name='description' content='SACHA LEBAS PORTFOLIO · Portfolio · Instagram · About · Contact © 2019 Sacha Lebas ')
  meta(name='author' content='Sacha Lebas')
  meta(property='og:title' content='Sacha Lebas PORTFOLIO')
  meta(property='og:site_name' content='Sacha Lebas')
  meta(property='og:url' content='http://sachalebas.com/portfolio')
  meta(property='og:description' content='SACHA LEBAS PORTFOLIO · Portfolio · Instagram · About · Contact © 2019 Sacha Lebas ')
  meta(property='og:type' content='website')
  meta(property='og:image' content='http://sachalebas.com/ressources/img/bio.jpg')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  link(rel='stylesheet' href='/ressources/css/style.css')
  link(rel='stylesheet' href='/ressources/css/queries.css')
  link(rel='stylesheet' href='/ressources/css/stylesheet.css')
  title SACHA LEBAS PORTFOLIO
header
  nav
    ul.banner-container
      li
          a(href='/index')
            h1 Sacha Lebas
        li.line
          a(href='/new_portfolio')  Photo
        li.line
          a(href='https://www.instagram.com/sacha_lebas/' target='_blank')  Instagram
        li.line
          a(href='/about')  About
        li.line
          a(href='/contact')  Contact
    span.close x
section.portfolio_container.modal
  .portfolio
    img.thumbnails(data-position='1' src='ressources/img/LePetitGregory.jpg' alt='Alex Richard, Guitare, Spireat, Groupe')
    img.thumbnails(data-position='5' src='ressources/img/ALEXN&B.jpg' alt='Alex Richard, Guitare, Spireat, Groupe')
    img.thumbnails(data-position='9' src='ressources/img/Studio_5.jpg' alt='Spireat, noir et Blanc, Alex, Sacha Lebas')
    img.thumbnails(data-position='13' src='ressources/img/Seoul.jpg' alt='Seoul, Photo, Rue, Rose, Sacha Lebas')
    img.thumbnails(data-position='17' src='ressources/img/BrooklynDoor.jpg' alt='Pont, Brooklyn, New York, Sacha Lebas')
    img.thumbnails(data-position='21' src='ressources/img/Ouistream.jpg' alt='Normandie, Plage, Endless, Sacha Lebas, photo')
    img.thumbnails(data-position='25' src='ressources/img/MI6.jpg' alt='Londres, Espion, Sacha Lebas, photo')
  .portfolio
    img.thumbnails(data-position='2' src='ressources/img/AlexRouge.jpg' alt='Spireat, Monochrome, Rouge, Rock, musique')
    img.thumbnails(data-position='6' src='ressources/img/SpireatN&B.jpg' alt='Spireat, Noir et Blanc, musique, rock, Sacha Lebas')
    img.thumbnails(data-position='10' src='ressources/img/Jeju.jpg' alt='Île, photo, Corée, Korea, Sacha Lebas')
    img.thumbnails(data-position='14' src='ressources/img/Brooklyn.jpg' alt='New York, ete, vie')
    img.thumbnails(data-position='18' src='ressources/img/WonderWheel2.jpg' alt='New-York, USA, Plage, Coney Island')
    img.thumbnails(data-position='22' src='ressources/img/Triangle.jpg' alt='tatouage, Noir et Blanc, Dos, Peau')
    img.thumbnails(data-position='26' src='ressources/img/BBB.jpg' alt='Beach Blanket Babylone, Londres, Notting Hill')
  .portfolio
    img.thumbnails(data-position='3' src='ressources/img/VincentRouge.jpg' alt='Spireat, Rouge, Rock, Paris, Vincent')
    img.thumbnails(data-position='7' src='ressources/img/Canap.jpg' alt='Canapé, Photo, Spireat, Shooting')
    img.thumbnails(data-position='11' src='ressources/img/Collioure.jpg' alt='été, Sud, France, Sacha Lebas, Photographie')
    img.thumbnails(data-position='15' src='ressources/img/Coney-Island-beach.jpg' alt='New-York, Plage, Summer')
    img.thumbnails(data-position='19' src='ressources/img/wonderWheel.jpg' alt='WW, Coney Island, New York, Plage')
    img.thumbnails(data-position='23' src='ressources/img/Metro.jpg' alt='Métropolitain, Tube, Subway, paris, vert')
    img.thumbnails(data-position='27' src='ressources/img/Manif.jpg' alt='Paris, Manifestation, Apocalypse, Sacha Lebas')
  .portfolio
    img.thumbnails(data-position='4' src='ressources/img/SpireatRouge.jpg' alt='Spireat, Photographie, Photo')
    img.thumbnails(data-position='8' src='ressources/img/Docteur.jpg' alt='Spireat, Groupe, Rock, musique')
    img.thumbnails(data-position='12' src='ressources/img/New-York.jpg' alt='New York, USA, Ville, Sacha Lebas')
    img.thumbnails(data-position='16' src='ressources/img/Coney-Island.jpg' alt='New York, Plage, Sacha Lebas, USA, été')
    img.thumbnails(data-position='20' src='ressources/img/AlissonVVMosshart.jpg' alt='The Kills, Alisson, Rock, Concert')
    img.thumbnails(data-position='24' src='ressources/img/Vinyle.jpg' alt='Vintage, sépia, Vinyle, Sacha Lebas, photographie')
    img.thumbnails(data-position='28' src='ressources/img/Eiffel-Tower.jpg' alt='paris, Tour Eiffel, Apocalypse')
footer
  p ALL CONTENTS &copy; 2019 SACHA LEBAS
script(src='/vendors/js/jquery-3.3.1.min.js')
script(type='text/javascript' src='http://www.cornify.com/js/cornify.js')
script(src='/ressources/js/script.js')
