extends layout

block content
    .video_flex_container
        .video_container    
            .vimeo
                iframe(src='https://player.vimeo.com/video/318046471?title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='').vimeo_frame
        .video_container
            .vimeo
                iframe(src='https://player.vimeo.com/video/318046002?title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='').vimeo_frame
        .video_container
            .vimeo
                iframe(src='https://player.vimeo.com/video/318045633?title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='').vimeo_frame
        .video_container
            .vimeo
                iframe(src='https://player.vimeo.com/video/318045079?title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='').vimeo_frame
        


block script
    script(src="https://player.vimeo.com/api/player.js")


