@media only screen and (max-width: 1050px) {
    .banner-container {
        width: 70%;
    }

    .about_text {font-size: 80%}
}

@media only screen and (max-width: 850px) {
    .banner-container {
        width: 100%;
        padding: 10px 0;
    }
    .about_container { 
        -ms-flex-wrap: wrap; 
            flex-wrap: wrap; 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
        width: 80%;
        margin: 20px 10% 6% 10%;
    }
    .about_container img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; width: 100%; padding: 0;}
    .about_text {-webkit-box-ordinal-group: 3;-ms-flex-order: 2;order: 2;}
    .photo-container2 {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .photo-container-half { 
        
        padding: 20px; 
        max-width: 80%;
    }

    .portfolio2 {
        max-width: 80%;
    }
    .description { 
        max-width: 80%;
    }

    .video_container {
        width: 80%;
        padding: 20px 10%;
    }
    .photo {
        width: 100%;
        height: auto;
    }
    
}

@media only screen and (max-width: 550px) {
    .banner-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
        max-width: 100vw;
        margin: 0;
    }

    .banner-container li:first-child {
        font-weight: bold;
        font-size: 150%;
        color: black;
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2 1 100%;


    }

    .banner-container .line {
        margin-top: 5px;
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
        width: 100%;
    }

    .line:nth-child(4) {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }

    .photo-container {
        /* height: 65vh; */
    }

    .about_text {
        font-size: 80%
    }

    .counter {
        height: 20vh;
        margin: 0;
        padding: 0;
    }
    .portfolio {max-width: 80vw;}

    .fullScreen {max-width: 100%;
        max-height: 100%;}
  }