:root {
    --text-font: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'nikoletaregular', serif;
    overflow-x: none;

}


html {
    height: 100%;
    margin: 0;
    padding: 0;
}


body,
html {
    width: 100%;

}

/* ======================== */
/* ======= BANNER ========= */
/* ======================== */

.banner-container {
    padding: 20px;
    list-style: none;
    font-size: 110%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.banner-container li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.banner-container li a:link,
.banner-container li a:visited {
    text-decoration: none;
    color: black;
}

.line::after {
    content: '';
    height: 2px;
    background: WHITE;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.line:hover::after {
    width: 0%;
    background: BLACK;
    -webkit-transition: width 4s;
    -o-transition: width 4s;
    transition: width 4s;
}

.banner-container li:first-child {
    font-weight: bold;
    font-size: 120%;
    color: black;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

/* ======================== */
/* ======= SLIDER ========= */
/* ======================== */

.photo-container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}

.photo {
    height: 400px;
}

.index {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: none;
}

.is_selected {
    display: block;
}

.counter {
    font-size: 70%;
    padding: 5px;
    margin: 10px;
}



/* ======================== */
/* ======= FOOTER ========= */
/* ======================== */

/* .footer {
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 70%;
    color: rgb(211, 209, 209);
    position: absolute;
    bottom: 1;
    width: 100%;
    
} */

.main {
    min-height: 97vh;
}

footer {
    height: 3vh;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 70%;
    color: rgb(211, 209, 209);
    width: 100%;
    background-color: white;
}

/* ======================== */
/* ======= CONTACT ========= */
/* ======================== */

.contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30vh;
    text-align: center;
}


.mail {
    font-weight: bold;
    font-size: 150%;

}

.mail:link,
.mail:visited {
    text-decoration: none;
    color: black;

}

.mail:hover,
.mail:active {
    border-bottom: 1px solid black;

}

.contact p {
    padding: 20px;
    font-size: 120%;
}


/* =========================== */
/* ======= PORTFOLIO ========= */
/* =========================== */


.portfolio_container {
    max-width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 10px 0;

}

.portfolio {
    max-width: 20vw;

}

.thumbnails {
    max-width: 100%;
    max-height: 100%;
    padding: 5% 0;
    height: auto;
    width: auto;
    z-index: 1;

}


/* =========================== */
/* ======= ALBUM PHOTO ========= */
/* =========================== */

.album_title {
    text-align: center;
    opacity: 0;
}

.album_container {
    max-width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 10px 0;


}

.portfolio2 a:link,
.portfolio2 a:visited {
    text-decoration: none;
    color: black;
}

.portfolio2 {
    max-width: 25vw;
    transition: 1s;

}

.portfolio2:hover .album_title,
.portfolio2:active .album_title {
    transition: 0.5s;
    opacity: 1;
}



.thumbnails2 {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    z-index: 1;
}

.photo-container-half {
    max-width: 50vw;
    height: 70vh;
}

.slider_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;

}

.photo-container2 {
    margin-top: 8vh;
    display: flex;
    justify-content: space-evenly;
}


.description {
    flex: 1;
    max-width: 20vw;
    /* padding: 0 20px; */

}

.description .title {
    font-family: var(--text-font);
    font-weight: bold;

}

.description p {
    padding-top: 20px;
    font-family: var(--text-font);
    text-align: justify;
    font-size: 80%;

}

/* =========================== */
/* ======= ABOUT ========= */
/* =========================== */

.about_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: start;

    -ms-flex-align: start;

    align-items: flex-start;
    width: 65%;
    padding: 20px 17.5% 6% 17.5%;


}

.about_container img {
    width: 15%;
    height: auto;
    padding: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
}

.about_text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 2 1 40%;

    text-align: justify;
    font-size: 95%;
    font-family: 'Lato', sans-serif;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;


}

.about_text span {
    font-family: inherit;
    font-size: inherit;
}

.about_text p {
    font-family: 'Lato', sans-serif;

}

.about_text p::before {
    content: '';
    border-top: 1px solid rgba(0, 0, 0, 0.342);
    width: 100%;
    display: block;
    margin: 15px 0;
}

blockquote {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic;
}

blockquote::before {
    content: '“';
    top: 5px;
    position: relative;
    margin-right: 5px;

}

blockquote::after {
    content: '”';
    top: 5px;
    position: relative;
    margin-left: 5px;

}


/* =========================== */
/* ======= FORM STYLE ========= */
/* =========================== */

.login {
    padding: 20px;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: rgba(24, 23, 22, 0.082);
}

.button {
    background-color: #f1c40f;
    font-size: 110%;
    border-style: none;
}

/* =========================== */
/* =======   VIDEO   ========= */
/* =========================== */

.video_flex_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.video_container {
    display: block;
    width: 30%;
    padding: 20px 8%;
}

.vimeo {
    padding: 78.18% 0 0 0;
    position: relative;
}

.vimeo_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: black;
}